<template>
  <div class="about">
    <MissionCard></MissionCard>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import MissionCard from '@/components/MissionCard.vue';
@Component({
  components: {
    MissionCard,
  }
})
export default class About extends Vue {}
</script>

