<template>
  <div class="contact">
    <ContactCard></ContactCard>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ContactCard from '@/components/ContactCard.vue';
@Component({
  components: {
    ContactCard,
  }
})
export default class Contact extends Vue {}
</script>
