<template>
  <div class="course">
    <CourseCard></CourseCard>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CourseCard from '@/components/CourseCard.vue'
@Component ( {
  components: {
    CourseCard,
  }
})
export default class Course extends Vue {}
</script>
