<template>
  <div class="home">
    <HomeIntro></HomeIntro>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HomeIntro from '@/components/HomeIntro.vue';
@Component ({
  components: {
    HomeIntro,
  }
})
export default class Home extends Vue {}
</script>
