<template>
    <div>
        <v-card class='contactcard pa-5'>
            <v-card-title>
                <h3 class='display-1 font-weight-light contactHeading pl-3'>Contact</h3>
            </v-card-title>
            <v-card-text>
                <h5 class='font-weight-regular title mb-5'>For any questions and clarifications please contact us by email or phone.</h5>
                <h4 class='subheading font-weight-light' v-if='false'>Mobile No: <a href='tel:+358123456789'>+358 123456789</a></h4>
                <h4 class='subheading font-weight-light'>Email: <a href='mailto:info@designedly.org'>info@designedly.org</a></h4>
            </v-card-text>
        </v-card>
    </div>    
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class ContactCard extends Vue {  

}
</script>
<style lang="scss">
    .contactcard {
        height: 400px;
    }

    .contactHeading {
        border-left: 5px solid #F44336;
    } 
</style>

