<template>
    <div class='courseCard'>
        <v-card>           
            <v-card-text class='pa-0'>                
                <v-img :src='require("../assets/course.jpg")'  alt='no img'
                max-height='300px' position='50% 30%' class='courseImg' ></v-img>
                <div :class='overlay'>
                    <h3 :class='overlayText'>English conversation through co-creation!</h3>
                    <v-layout class='pt-2'>
                        <v-spacer></v-spacer>
                        <v-btn color='primary' outline to='register'>Try for free</v-btn>
                        <v-btn color='primary' @click='joinCourse()'>Join Course</v-btn>
                    </v-layout>
                </div>
                
            </v-card-text>
        </v-card>

        <v-layout row wrap>
            <v-flex sm12 md6>
                <v-card class='px-4' height="100%">
                    <v-card-title>
                        <h3 class='display-1 my-3 font-weight-medium text-xs-center grey--text text--darken-2'>Description</h3>     
                    </v-card-title>
                    <v-card-text class='subheading'>                
                        <p>
                            Our English conversation through co-creation course is a relaxed and fun way for curious minds to explore diverse perspectives and 
                            experiment with inventing new solutions together through dialogue and innovative processes. Teams build momentum through simple 
                            prototyping, testing, and refining of their ideas.
                        </p>
                        <p>
                            Your native English speaking facilitator will put teams together and meet with you weekly via online video chat. We’ll share insights 
                            as we brainstorm new ideas using the design thinking process. Intensive co-creation events will be organised in your local area.
                        </p>
                    </v-card-text>
                </v-card> 
            </v-flex>
            <v-flex sm12 md6>
                <v-card dark height='100%'>
                    <v-card-title class='courseTitle'>
                        <h4 class='headline'>Course Features</h4>
                    </v-card-title>
                    <v-list class='pt-0'>
                        <div v-for='item in courseFeatures' :key='item.title'>
                            <v-divider></v-divider>                
                            <v-list-tile>                    
                            <v-list-tile-avatar>
                                <v-icon>{{item.icon}}</v-icon>
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>{{item.title}}</v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <v-list-tile-title>{{item.content}}</v-list-tile-title>
                            </v-list-tile-action>
                            </v-list-tile>
                        </div>               
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex sm12 md6 order-md7>
                <v-card height='100%' class='pt-5 pb-4 pl-5 pr-4'>                    
                    <v-img :src='require("../assets/courseBody.jpg")' max-height='360px' position='50% 5%'></v-img>                    
                </v-card>               
            </v-flex>
            <v-flex sm12 md6>
                <v-card class='px-4' height='100%'>
                    <v-card-text>
                        <h4 class='title my-4'>Course Activities</h4>
                        <v-layout v-for='(item, index) of courseActivities' :key='index'>
                            <v-flex xs1>
                                <span class='number px-2 py-1 mr-2 green--text'>{{index + 1}}</span>
                            </v-flex>
                            <v-flex xs11 class='pl-2'>
                                <p>{{item}}</p>
                            </v-flex>
                        </v-layout> 
                        <v-layout align-center justify-center row fill-height class='white pb-5' >                    
                            <v-btn color='light-blue darken-4' outline large :class='buttonStyle' to='register'>Try For Free</v-btn>
                            <v-btn color='light-blue darken-4 white--text' large :class='buttonStyle' @click='joinCourse()'>Join Course</v-btn>                    
                        </v-layout>                     
                    </v-card-text>
                </v-card>
            </v-flex>           
        </v-layout>   
        <v-snackbar bottom timeout='5000' v-model='errorStatus'>{{errorMessage}}</v-snackbar>
        <LoadingModal :dialogFlag='dialogFlag'></LoadingModal>

                
          

    </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { db } from '../firebase';
import { REFS } from '../data/constants';
import router from '../router';
import LoadingModal from './LoadingModal.vue'

@Component({
    components: {
        LoadingModal
    }
})
export default class CourseCard extends Vue {   

    courseFeatures = [
        {title: 'Duration', content: '45 days', icon: 'calendar_today'},
        {title: 'Per Week', content: 'Two 1 hr session', icon: 'view_week'},
        {title: 'Participants/Session', content: 'Max 6', icon: 'group'},        
        {title: 'Delivery Medium', content: 'Video Conference over Internet', icon: 'videocam'},
        {title: 'English Skill Needed', content: 'Intermediate or Above', icon: 'fas fa-magic'},        
        {title: 'Min Age', content: '16 and above', icon: 'fas fa-user-tag'},

    ]
    courseActivities = [
        'Getting to know your team members',
        'Design Thinking and Collaborative creation',
        'Ideation',
        'Brainstorming ideas for a new app or web service to help solve relevant problems',
        'Design a digital prototype of your service idea (no previous knowledge or experience required)',
        'Test your team’s idea with real people',
        'Join an innovation event',
        'Plan a way forward',
    ]
    errorMessage: string = '';
    errorStatus:  boolean = false;
    dialogFlag: boolean = false;
    
    joinCourse () {
        this.dialogFlag = true;
        db.collection(REFS.joinCourse).add({
            id: this.$store.state.register.id,
            createdDate: new Date().toISOString()
        }).then(val => {            
            this.errorStatus = false;
            this.dialogFlag = false;
            router.push('register?join=true')
        }).catch(e=> {
            console.log('Error', e);
            this.errorMessage = e.message;
            this.dialogFlag = false;
            this.errorStatus = true;
        })

    }

    get overlay() {
        if(this.$vuetify.breakpoint.mdAndUp) {
            return 'pa-3 overlay overlayStyle'
        }   
              
        return  'pa-3 overlayStyle'        
    }

    get overlayText() {
        if(this.$vuetify.breakpoint.mdAndUp) {
            return 'display-2 font-weight-light'
        }   
              
        return  'display-1 font-weight-light' 
    }

    get buttonStyle() {
        if(this.$vuetify.breakpoint.xsOnly) {
            return 'elevation-16 text-none subheading mt-5'
        } 
        return 'elevation-16 text-none title mt-5'
    }
    
}
</script>
<style lang="scss">
    .courseImg {
        opacity: 0.75;
    }    

    .overlay {
        position: absolute;
        left: 10%;
        top: 27%;    
    }

    .overlayStyle {        
        border-left: 5px solid#F44336;
        background-color: white;
    }

    .courseTitle{
        
        border-bottom: 5px solid#4CAF50;        
    }

    .number {
        border: 2px solid #4CAF50;
        border-radius: 50%;        
    }


</style>

