<template>
    <v-footer class='pa-3 dark' height='100'>
        <div>&copy; {{ new Date().getFullYear() }} DesignEDly</div>
    </v-footer>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import router from '../router'; 

@Component
export default class Footer extends Vue {  

}
</script>
<style lang="scss">
    .logo{
        width: 32px;
    }
</style>

