<template>
    <v-toolbar app>
        <v-toolbar-title class="headline">
            <v-layout>
                <v-img :src='require("../assets/logo.jpg")' alt='no img' class='logo'></v-img>
                <span class='ml-2'>DesignEDly</span>
            </v-layout>         
        </v-toolbar-title>
        <v-spacer></v-spacer> 
        <v-toolbar-items>
            <v-btn to="/" active-class="default-class grey white--text">Home</v-btn>
            <v-btn to="course" active-class="default-class grey white--text">Course</v-btn>
            <v-btn to="register" active-class="default-class grey white--text">Register</v-btn>
            <v-btn to="about" active-class="default-class grey white--text">About</v-btn>
            <v-btn to="contact" active-class="default-class grey white--text">Contact</v-btn>            
        </v-toolbar-items>
    </v-toolbar>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import router from '../router'; 



@Component
export default class Header extends Vue {  

}
</script>
<style lang="scss">
    .logo{
        width: 32px;
    }
</style>

