<template>
    <div class='homeIntro'>
        <v-card class='pb-3'>           
            <v-card-text  class='pa-0'>
                <v-img :src='require("../assets/homecard.jpg")' alt='no img'
                max-height='500px' class='homeImg'></v-img>
                <div :class='overlay'>
                    <h3 :class='line1'>English conversation through co-creation!</h3> 
                    <h4 :class='line2'>A new and exciting way to practice your English and gain practical experience.</h4>
                    <p class='text-xs-right mt-2 subheading'><router-link  to='course'>Readmore</router-link></p>
                </div>                
                
                <div class='cocreation ma-4 pa-4'>
                    <v-icon x-large color='white'>mdi-creation</v-icon>
                    <h3 class='white--text mt-2 headline font-weight-light'>Co-creation</h3>
                    <p class='grey--text text--lighten-1 mt-4 subheading'>
                    Co-creation is about bringing together people from diverse educational 
                    disciplines and life experience to discover new perspectives and transform 
                    know-how into breakthrough ideas for meaningful change in the form of new 
                    products and services. The process results in inspiring conversations, 
                    deep dives into great ideas, and real opportunities.
                    </p>
                </div>               
                
                <v-layout ma-4 align-center justify-center row fill-height wrap> 
                    <v-flex xs12 md6 pa-4>
                        <v-icon x-large>language</v-icon>
                        <h4 class='headline mt-3 font-weight-medium'>Practice your English conversation skills through team co-creation projects!</h4>
                        <h4 class='title mt-3 font-weight-light'>You are the change!</h4>
                    </v-flex>
                    <v-flex xs12 md6>
                        <v-layout align-center justify-center row fill-height >                    
                            <router-link class='text-xs-center title light-blue darken-4 white--text elevation-9 readmore ' to='course'>
                                <span class='font-weight-medium headline'>Read more about the course!</span>                                
                            </router-link>                    
                        </v-layout>
                    </v-flex>                     
                </v-layout>            
            </v-card-text>
        </v-card>

    </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Vuetify } from 'vuetify';

@Component
export default class HomeIntro extends Vue {   

    get overlay() {
        if(this.$vuetify.breakpoint.mdAndUp) {
            return 'pa-3 overlay overlayStyle'
        }   
              
        return  'pa-3 overlayStyle'
    }

    get line1() {
        if(this.$vuetify.breakpoint.mdAndUp) {
            return 'font-weight-light display-2'
        }   
        if(this.$vuetify.breakpoint.smOnly) {
            return  'font-weight-light display-1'
        }      
        return  'font-weight-light display-1'
    }

    get line2() {
        if(this.$vuetify.breakpoint.mdAndUp) {
            return 'headline mt-3 font-weight-regular grey--text text--darken-2'
        }   
        if(this.$vuetify.breakpoint.smOnly) {
            return  'headline mt-2 font-weight-regular grey--text text--darken-2'
        }      
        return  'headline mt-2 font-weight-regular grey--text text--darken-2'
    }
    
}
</script>
<style lang="scss">
   
    .homeImg {
        opacity: 0.75;
    }

    .overlay {
        position: absolute;
        left: 10%;
        top: 27%;    
    }

    .overlayStyle {        
        border-left: 5px solid#F44336;
        background-color: white;
    }
    .cocreation {
        background-color: #294064;//#081832;
    }
    .readmore {
        width: 100%;
        min-height: 200px; 
        text-decoration: none;  
        position: relative;      
    }
    .readmore span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
</style>

