<template>
    <v-dialog v-model='dialogFlag'  persistent width="300">
        <v-card color='primary' dark> 
            <v-card-text>
                <v-progress-linear indeterminate color="white" class="mb-0" ></v-progress-linear>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class LoadingModal extends Vue {
    @Prop(Boolean) dialogFlag!: boolean;
}
</script>

