<template>
    <div>
        <v-card class='pa-5'>
            <v-card-title>
                <h3 class='display-1 font-weight-light grey--text text--darken-2 mission pl-3'>Mission</h3>
            </v-card-title>
            <v-card-text>
                <h4 class='title font-weight-bold mb-5'>
                    Our mission is to create opportunities for young people to transform great ideas into actionable solutions. 
                    <br>
                    <br>
                    We make this possible by facilitating                    
                </h4>
                <v-layout class='my-3'>
                    <v-flex xs1>
                        <span class='serial px-2 py-1 subheading green--text'>1</span>
                    </v-flex>
                    <v-flex xs11>
                        <p class='title font-weight-regular pl-3'>Experimentation with innovative tools and processes</p>
                    </v-flex>
                </v-layout>
                <v-layout class='my-3'>
                    <v-flex xs1>
                        <span class='serial px-2 py-1 subheading green--text'>2</span>
                    </v-flex>
                    <v-flex xs11>
                        <p class='title font-weight-regular pl-3'>Bring Teams together to network with like-minded people and organizations</p>
                    </v-flex>
                </v-layout>
                <v-layout class='my-3'>
                    <v-flex xs1>
                        <span class='serial px-2 py-1 subheading green--text'>3</span>
                    </v-flex>
                    <v-flex xs11>
                        <p class='title font-weight-regular pl-3'>Help them discover resources (people, funding and technologies)</p>
                    </v-flex>
                </v-layout>              
            </v-card-text>
        </v-card>
    </div>    
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class MissionCard extends Vue {  

}
</script>
<style lang="scss">
    .mission {
        border-left: 5px solid #F44336;
    }    

    .serial {
        border: 2px solid #4CAF50;
        border-radius: 50%;
    }
</style>

