<template>
    <div class='registerForm'>
        <v-layout row wrap>
            <v-flex lg4 class='hidden-md-and-down'>
                <v-img :src='require("../assets/register.jpg")' height='100%' position='55% 50%'></v-img>                                
            </v-flex>
            <v-flex lg8 xs12>
                <v-card >
                    <v-img class='hidden-lg-and-up' :src='require("../assets/register.jpg")' height='250px' position='40% 37%'></v-img> 
                    <v-card-title class='pt-4'>                
                        <v-layout align-center justify-center row fill-height>
                            <h2 class='display-1 registerTitle pl-3'>Signup for a free 1 hr online intro session</h2>                                                 
                        </v-layout>      
                    </v-card-title>          
                    <v-card-text>
                        <v-alert :value='joinFlag' type='info'>Full Course will soon be available at your location. Please register for a trial.</v-alert>  
                        <v-form ref='registerForm' v-model='valid' lazy-validation>
                            <v-container class='formContainer'>
                                <v-text-field label='First Name' outline 
                                v-model='registerModel.firstName' 
                                :rules='rules.firstNameRules' 
                                required></v-text-field>  
                                        
                                <v-text-field label='Last Name' outline 
                                v-model='registerModel.lastName'
                                :rules='rules.lastNameRules' 
                                required ></v-text-field>
                        
                                <v-text-field label='Email' outline 
                                v-model='registerModel.email'
                                :rules='rules.emailRules'
                                required ></v-text-field>
                        
                                <v-text-field label='Mob No' outline 
                                v-model='registerModel.mobNo'
                                :rules='rules.mobNoRules'
                                required ></v-text-field>
                                            
                                <v-text-field label='Location' outline 
                                v-model='registerModel.location'
                                :rules='rules.locationRules'
                                required ></v-text-field>  
                        
                                <v-text-field label='School Name / Profession' outline 
                                v-model='registerModel.schoolProf'
                                :rules='rules.schoolProfRules'
                                required ></v-text-field> 
                                <!--
                                <v-layout>
                                    <v-flex>                                        
                                        <v-select :items='trialSlotsArray' 
                                        label='Select time slot' outline 
                                        v-model='registerModel.timeSlot'
                                        :rules='rules.timeSlotRules'>
                                        </v-select>                                                                                
                                    </v-flex>    
                                </v-layout>
                                -->                      
                                <v-layout align-center justify-center row fill-height mt-4>
                                    <v-btn color='primary' large @click='register()'>Signup for Free Trial</v-btn>
                                </v-layout>
                                
                                
                            </v-container>
                        </v-form>
                        <v-alert :value='registerFlag' type='success'>Registered Successfully.</v-alert>  
                        <v-alert :value='errorFlag' type='error'>{{errorMessage}}</v-alert>  
                        
                    </v-card-text>
                </v-card>                
            </v-flex>
        </v-layout>
        

    </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { db } from '../firebase';
import { REFS } from '../data/constants';
import  { RegisterModel } from '../types/Register';
import router from '../router';

@Component
export default class RegisterForm extends Vue {   
    valid: boolean = true;
    registerFlag: boolean = false;
    errorFlag: boolean = false;
    errorMessage: string = '';
    joinFlag: boolean = false;    
    registerModel: RegisterModel  = {
        firstName: '',
        lastName: '',
        email: '',
        mobNo: '',
        location: '',
        schoolProf: '',
       // timeSlot: '',
        id: this.$store.state.register.id,
        createdDate: new Date().toISOString()

    }
    rules = {
        firstNameRules: [
            (v:any) => !!v || 'First Name is required',
        ],
        lastNameRules: [
            (v:any) => !!v || 'Last Name is required',
        ],
        emailRules: [
            (v:any) => !!v || 'Email is required',
            (v:any) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Enter a valid email address'
        ],
        mobNoRules: [
            (v:any) => !!v || 'Mobile No is required',
        ],
        locationRules: [
            (v:any) => !!v || 'Enter your City / Town Name',
        ],
        schoolProfRules: [
            (v:any) => !!v || 'Enter your School Name or your profession.',
        ],

        // timeSlotRules: [
        //     (v: any) => !!v || 'Please select a Time Slot.',
        // ]
    }
    trialSlotsArray = [
        '05 March 2019 11 AM', 
        '07 March 2019 11 AM', 
        '12 March 2019 11 AM', 
        '14 March 2019 11 AM', 
    ]    

    get registerForm(): Vue {
        return this.$refs.registerForm as Vue & { validate: () => boolean};
    }
    //Need to change the below to above. 
    register() {               
        if(!(this.$refs.registerForm as Vue & { validate: () => boolean }).validate()) {            
            this.valid = false;            
            return;
        } 
        this.valid = true;
        
        db.collection(REFS.register).add(this.registerModel).then(val => {
            //console.log('Val', val)
            this.registerFlag = true;
            this.errorFlag = false;
        }).catch(e => {
            this.registerFlag = false;
            this.errorMessage = e.message;
            this.errorFlag = true;
            console.log('E', e)
        }) 

    }

    mounted() {
        this.joinFlag = false;
        const query = router.currentRoute.query;        
        if(Object.keys(query).length > 0) {
            this.joinFlag = true;
        }
        
    }

    
    
}
</script>
<style lang="scss">
    .formContainer {
        max-width: 700px;               
    }    

    .registerTitle {
        border-left: 5px solid #F44336;
    }
</style>

