<template>
  <v-app>
    <Header></Header>
    <v-content class='grey lighten-3'>     
      <router-view></router-view>
    </v-content>
    <Footer></Footer>
  </v-app>
</template>

<script lang='ts'>
import { Vue, Component } from 'vue-property-decorator';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
@Component({
  components: {    
    Header,
    Footer
  }
})
export default class App extends Vue {

}
</script>
